/* CSS untuk Category News Component */
.category-news {
  margin: 1rem 0;
}

.category-news h2 {
  font-size: 20px;
}

.category-news div {
  margin: 1rem 0;
}

.category-news h3 {
  font-size: 18px;
}

.category-news img {
  max-width: 100%;
  height: auto;
}
