/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040306;
  padding: 10px 20px;
}

.header__logo img {
  width: 100px;
  height: auto;
}

.header__nav ul {
  list-style: none;
  display: flex;
}

.header__nav li {
  margin-right: 20px;
  font-size: 18px;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.header__nav a:hover {
  color: #1db954;
}
