/* Sidebar.css */

.sidebar {
  background-color: #1db954;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

.sidebar a:hover {
  background-color: #040306;
}
