/* NewsApp.css */

.news-app {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  color: #333;
}

.category-selector {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.category-selector select {
  padding: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.news-card {
  width: calc(25% - 20px); /* Ukuran kartu pada desktop (4 kartu per baris) */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
}

.news-card:hover {
  transform: scale(1.03);
}

.news-card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.news-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.news-card p {
  color: #666;
  font-size: 14px;
  flex-grow: 1;
}

.no-news-message {
  margin-top: 20px;
  font-weight: bold;
  color: #999;
}

/* Responsif untuk tablet (max-width: 768px) */
@media (max-width: 768px) {
  .news-card {
    width: calc(
      33.33% - 20px
    ); /* Ukuran kartu pada tablet (3 kartu per baris) */
  }
}

/* Responsif untuk perangkat seluler (max-width: 576px) */
@media (max-width: 576px) {
  .news-card {
    width: calc(
      50% - 20px
    ); /* Ukuran kartu pada perangkat seluler (2 kartu per baris) */
  }
}
